﻿@model  List<Task24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>All Supervisors</title>
</head>
<body class="text-center">
        <h1> All Supervisors</h1>
        <table class="table table-dark table-hover text-center" id="supervisorTable">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>

                </tr>
            </thead>
            @foreach (Supervisor sup in Model)
            {
                <tr>
                    <td>
                        @sup.Id
                    </td>
                    <td>
                        @sup.Name
                    </td>
                </tr>
            }
        </table>
        <br />
        <a id="linkNewSupervisor" asp-action="SupervisorInfo">Add new supervisor</a>

</body>
</html>
