﻿
@model Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Confirmation</title>
</head>
<body>
    <div id="confirmation">
        <h2> @Model.Name has been added to the current supervisors!</h2>
        <br />
        <br />
        <a asp-action="AllSupervisors">View all the supervisors</a>
        <br />
        <br />
        <a asp-action="SupervisorInfo">Add another supervisor</a>
    </div>
</body>
</html>
