﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>Welcome!</div>
    <div>@ViewBag.time</div>

    <a asp-action="SupervisorInfo">Click here to see information about supervisors</a>
</body>
</html>
