﻿
@model Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div class="container">
        <h1>Add Supervisor</h1>
        <form asp-action="SupervisorInfo" method="post">
            <div class="form-group">
                <label asp-for="Id">Supervisor ID:<sub>(unrealistic to ask for this, but kept it for learning purposes)</sub></label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class="form-control" placeholder="Name" />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
            <br />
            <br />
            <div id="validationError" asp-validation-summary="All"></div>

        </form>
    </div>

</body>
</html>
